//
//  base.xcconfig
//  {{ cookiecutter.app_name }}
//
//  Created by {{ cookiecutter.author }} on {% now 'local', '%d %b %Y' %}.
//  Copyright © {% now 'local', '%Y' %} {{ cookiecutter.organization_name }}. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_PRODUCT_NAME = {{ cookiecutter.app_name }}
BASE_PRODUCT_BUNDLE_IDENTIFIER = {{ cookiecutter.bundle_identifier }}
